[Unit]
Description=KubeArmor

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/kubearmor/
ExecStart=/opt/kubearmor/kubearmor -tlsCertPath=/var/lib/kubearmor/tls/log -managementTLSCertPath=/var/lib/kubearmor/tls/management
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
